<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidenav.emit($event)" fxShow.gt-md="false">
    <mat-icon>menu</mat-icon>
  </button>
  <app-navigation fxShow.lt-lg="false"></app-navigation>

  <div class=" flex-spacer "></div>
</mat-toolbar>

<div class="header__wrap ">
  <a href="#wmie ">
    <img src="../../../assets/images/logo_wmie.gif " alt=" " class="left ">
  </a>
  <h1 class="header__column-center ">Krajowy Komitet Organizacyjny
    <br /> Międzynarodowego Konkursu
    <br /> "Matematyka Bez Granic "</h1>
  <a href="#uz ">
    <img src="../../../assets/images/logo_uz.gif " alt=" " class="right ">
  </a>
</div>
