<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidenav.emit($event)">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex-spacer"></div>My App
  <div class="flex-spacer"></div>
  <language-selector (select)="selectLanguage.emit($event)" [selectedLanguage]="selectedLanguage" [availableLanguages]="availableLanguages">></language-selector>
</mat-toolbar>

<div class="header__wrap">
  <a href="#wmie">
    <img src="../../../assets/images/logo_wmie.gif" alt="" class="left">
  </a>
  <h1 class="header__column-center">Krajowy Komitet Organizacyjny
    <br /> Międzynarodowego Konkursu
    <br /> "Matematyka Bez Granic"</h1>
  <a href="#uz">
    <img src="../../../assets/images/logo_uz.gif" alt="" class="right">
  </a>
</div>
