<mat-card>
  <mat-toolbar color="primary">
    {{ 'WIDGET.CALENDAR.TITLE' | translate}}
  </mat-toolbar>
  <mat-card-content>
    <b> {{ 'WIDGET.CALENDAR.VERSION_SENIOR' | translate :{name:"XXIX MK ",year:"2017/2018"} }}</b>
    <br />
    <br />
    <br /> {{ 'WIDGET.CALENDAR.SIGNIN' | translate :{time:" od października do grudnia 2017 roku"} }}
    <br /> {{ 'WIDGET.CALENDAR.PRELIMINARY' | translate :{time:"styczeń – 26 luty 2018 roku"} }}
    <br /> {{ 'WIDGET.CALENDAR.FINALE' | translate :{time:"27 luty 2018 roku"} }}
    <br />
    <br />
    <b>{{ 'WIDGET.CALENDAR.VERSION_SENIOR' | translate :{name:"MK ",year:"2017/2018"} }}</b>
    <br />
    <br /> {{ 'WIDGET.CALENDAR.SIGNIN' | translate :{time:" od października do grudnia 2017 roku"} }}
    <br /> {{ 'WIDGET.CALENDAR.PRELIMINARY' | translate :{time:"styczeń – 26 luty 2018 roku"} }}
    <br /> {{ 'WIDGET.CALENDAR.PRELIMINARY' | translate :{time:"styczeń – 26 luty 2018 roku"} }}
    <br /> {{ 'WIDGET.CALENDAR.FINALE' | translate :{time:"28 luty 2018 roku"} }}
    <br />
    <br /> {{ 'WIDGET.CALENDAR.AWARDS' | translate :{time:"maj – czerwiec"} }}
    <br />
    <br />
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="accent" mat-size2 routerLink="/formularz" fxFlex="100">
      <mat-icon aria-hidden="true">create</mat-icon>{{ 'WIDGET.CALENDAR.FORM' | translate}}</a>
  </mat-card-actions>
</mat-card>
