<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Admin Admin</mat-card-title>
    <mat-card-subtitle>AdminWeb</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div class="sidnav">
  <button mat-raised-button routerLink="/admin-panel">Panel Admin</button>
  <button mat-raised-button color="warn" routerLink="/admin-dane-komitetu">Dane komitetu</button>
  <button mat-raised-button color="primary" routerLink="/school-add-participent">Dodaj Uczestnika</button>
  <button mat-raised-button color="primary" routerLink="/school-setting">Ustawienia Szkoly</button>
</div>