<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" [opened]="layoutSandbox.$showSidenav | async" [ngClass.gt-md]="{'sidenav-desktop':true}"
    [ngClass.lt-lg]="{'sidenav-mobile':true}" [fixedInViewport]="true" (openedChange)="layoutSandbox.toggleSidenav($event)">
    <app-navigation (activate)="layoutSandbox.closeSidenav()"></app-navigation>

  </mat-sidenav>

  <layout-header (selectLanguage)="layoutSandbox.selectLanguage($event)" (openSidenav)="sidenav.toggle()">

  </layout-header>
  <div fxLayout.gt-md="row wrap" fxLayout.lt-lg="column" fxLayoutGap="10px" class="container">
    <main fxFlex>
      <mat-card>
        <mat-toolbar color="primary">{{layoutSandbox.$pageName | async}}</mat-toolbar>
        <mat-card-content>
          <ng-content></ng-content>
        </mat-card-content>
      </mat-card>
    </main>
    <aside fxFlex="30" fxLayout="column" fxLayoutGap="10px">
      <layout-calendar></layout-calendar>
      <layout-sponsors [sponsors]="layoutSandbox.loadSponsors()"></layout-sponsors>
    </aside>
  </div>
  <div class="flex-spacer"></div>

  <layout-footer></layout-footer>
</mat-sidenav-container>
