<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" [opened]="layoutSandbox.$showSidenav | async" [ngClass.gt-md]="{'sidenav-desktop':true}"
    [ngClass.lt-lg]="{'sidenav-mobile':true}" [fixedInViewport]="true" (openedChange)="layoutSandbox.toggleSidenav($event)">
    <app-navigation></app-navigation>

  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxLayoutGap="10px">
    <layout-header (selectLanguage)="layoutSandbox.selectLanguage($event)" (openSidenav)="sidenav.toggle()" [selectedLanguage]="layoutSandbox.$selectedLang | async"
      [availableLanguages]="layoutSandbox.$availableLanguages | async">

    </layout-header>
    <div fxLayout.gt-md="row wrap" fxLayout.lt-lg="column" fxLayoutGap="10px" class="container">
      <main fxFlex>
        <ng-content></ng-content>
      </main>
      <aside fxFlex="30" fxLayout="column" fxLayoutGap="10px">
        <layout-calendar></layout-calendar>
        <layout-sponsors [sponsors]="layoutSandbox.loadSponsors()"></layout-sponsors>
      </aside>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
