<button mat-raised-button color="primary" routerLink="/" (click)="activate.emit()">
  <mat-icon>home</mat-icon>
</button>
Edycje

<a mat-raised-button color="primary" href="http://www.mbg.uz.zgora.pl/">poprzednie edycje</a>
<button mat-raised-button color="primary" *ngFor="let edition of editions" routerLink="/edycja/{{edition.id}}" routerLinkActive="mat-accent"
  (click)="activate.emit()">{{edition.nazwa}}</button>
Informacje

<button mat-raised-button color="primary" routerLink="/info/ogolne" routerLinkActive="mat-accent" (click)="activate.emit()">O konkursie</button>
<button mat-raised-button color="primary" routerLink="/info/regulaminy" routerLinkActive="mat-accent" (click)="activate.emit()">Regulaminy i Zasady</button>

<button mat-raised-button color="primary" routerLink="/contact" routerLinkActive="mat-accent" (click)="activate.emit()">Dane Komitetow</button>
